
  .notifications-list{
  padding: 10px;

background-color: $white;

box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
&-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  .title{
    @include FontStyle(12px, 500, $green);
  }
}
    &-children{
  padding: 10px;

      height: 270px;
    overflow-y: scroll;
    margin-bottom: 10px;
    }
  }